@model WatMvc.Models.CatalogMenuViewModels

<ul>
    @foreach (var item in Model.MenuItems)
    {
        <li><a href="/catalog/@item.Menu_url/" id="@item.Menu_id">@item.Menu_name</a></li>
    }

</ul>