@model WatMvc.Models.MainMenuViewModels

<ul>
    @foreach (var item in Model.MenuItems)
    {
        <li><a href="@item.Item_url" id="@item.Item_id">@item.Item_name</a></li>
    }

    <li><a href="/catalog/розетки и выключатели/" id="1">Телефоны</a></li>
    <li><a href="/catalog/звонки и гонги/" id="4">Табуретки</a></li>
</ul>