@model WatMvc.Models.MainMenuViewModels

<ul>
    @foreach (var item in Model.MenuItems)
    {
        <li><a href="@item.Item_url" id="@item.Item_id">@item.Item_name<span id="@item.Item_tag"></span></a></li>
    }

    <li><a href="/catalog/смартфоны/" id="1">Смартфоны</a></li>
    <li><a href="/catalog/часы/" id="3">Часы</a></li>
    <li><a href="/catalog/планшеты/" id="4">Планшеты</a></li>
    <li><a href="/catalog/электрика/" id="5">Электрика</a></li>
</ul>