@model WatMvc.Models.CatalogViewModels

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("CatalogPartial", Model);

<div id="tester1"></div>
<div id="tester2"></div>

@section scripts{
    <script type="text/javascript">
        catalog.OnDocumentReady();
    </script>
}