@model WatMvc.Models.CatalogViewModels

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("CatalogPartial", Model)

@section scripts{
    <script type="text/javascript">
        catalog.OnDocumentReady();
    </script>

    <script id="catalogTemplate" type="text/x-jsrender">
        <div class="GItm">
            <div class="logos" rel="{{:Logos_id}}"></div>
            <a class="headlink" href="{{:Articul}}" title="обзор {{:Name}}">{{:Name}}</a>
            {{if HasImg}}
            <img alt="{{:Name}}" rel="{{:Articul}}" src="http://img.watshop.ru/d/loader.gif" class="lazy" data-original="http://img1.wbstatic.net/c246x328/new/{{:ImgSubFolder}}/{{:Articul}}-1.jpg" />
            {{/if}}

            {{if !HasImg}}
            <img alt="{{:Name}}" rel="{{:Articul}}" src="http://img.watshop.ru/d/loader.gif" class="lazy" data-original="http://img.watshop.ru/small/0.jpg" />
            {{/if}}

            <table>
                {{if Sound > 0}}
                <tr><td>Всего мелодий</td><td>:&nbsp;<a href="/{{:Url}}/#sound">{{:Sound}}</a></td></tr>
                {{/if}}
                {{if UT_video.Length > 0}}
                <tr><td>Видео обзор</td><td><a href="/{{:Url}}/#video"><div class="videoLbl"></div></a></td></tr>
                {{/if}}
                <tr><td>Марка</td><td>: <b>{{:Brand_name}}</b></td></tr>
                <tr><td>Артикул</td><td>: <b>{{:Articul}}</b></td></tr>
                <tr><td>Цвет</td><td>: <b>{{:Color_name}}</b></td></tr>
                <tr><td>Цена</td><td>: {{:Price}} руб.</td></tr>
            </table>
        </div>
    </script>
}