@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model WatMvc.Models.BasketViewModels

<ul>
    @foreach (var item in Model.BasketItems)
    {
        <div>@item.Articul</div>
        <div>@item.Brand_name</div>
    }
</ul>