BODY {
    font-family:Arial, Tahoma;
    font-size:12px;
}
DIV.GItm {
    width:250px;
    height:370px;
    padding-top:15px;
    float:left;
}

DIV.GItm IMG.lazy{
    display:block;
    margin:0 auto;
    cursor:pointer;
    cursor:hand;
}

DIV.GItm A.headlink{
    display:block;
    margin:0 auto;
    width:90%;
    height:40px;
}

DIV.GItm DIV.logos{
    line-height: 0;
    position: absolute;
    right: 1px;
    top: 1px;
}
a{
    text-decoration : dashed blue;
}

/*--------------------------------*/

.mheader{
    border:1px solid red;
    width:1024px;
    margin:0 auto;
}

.mcontent{
    border:1px solid red;
    width:1024px;
    margin:0 auto;
    min-height:400px;
}

.lmenu{
    width:160px;
}

.lmenu UL LI{
    list-style-type: none;
}

.cl{
    clear:both;
}

.fleft{
    float:left;
}

#content{
    width:860px;
    float:left;
}

.BItm
{
    width:850px;
    float:left;
    padding-bottom:15px;
}

.BItm P
{
    float:left;
    padding-left:25px;
}

.BItm IMG
{
    float:left;
    padding-left:25px;
}

.BItm DIV
{
    float:left;
    padding-left:25px;
}