BODY {
    font-family:Arial, Tahoma;
    font-size:12px;
}
DIV.GItm {
    width:250px;
    max-height:470px;
    padding-top:15px;
    float:left;
    border-bottom:1px dotted #000;
    border-right:1px dotted #000;
}

DIV.GItm IMG.lazy{
    display:block;
    margin:0 auto;
    cursor:pointer;
    cursor:hand;
}

DIV.GItm A.headlink{
    display:block;
    margin:0 auto;
    width:90%;
    height:40px;
}

DIV.GItm DIV.logos{
    line-height: 0;
    position: absolute;
    right: 1px;
    top: 1px;
}

DIV.GItm TABLE{
    width:100%;
}

a{
    text-decoration : dashed blue;
}

/*--------------------------------*/

.mheader{
    /*border:1px solid red;*/
    width:1024px;
    margin:0 auto;
}

.mcontent{
    /*border:1px solid red;*/
    max-width:1024px;
    margin:0 auto;
    min-height:400px;
}

.lmenu{
    width:164px;
}

.lmenu UL LI{
    list-style-type: none;
}

.cl{
    clear:both;
}

.fleft{
    float:left;
}

#content{
    max-width:860px;
    float:left;
}

.BItem
{
    width:850px;
    float:left;
    padding-bottom:15px;
}

.BItem P
{
    float:left;
    padding-left:25px;
}

.BItem IMG
{
    float:left;
    padding-left:25px;
}

.BItem DIV
{
    float:left;
    padding-left:25px;
}

div#pager
{
    border:1px solid red;
    padding:5px;
    height:25px;
}

div#pager div
{
    float:left;
    border:1px solid green;
    margin:5px;
}

div#pager div.current_page
{
    background-color:red;
}